h1 {
    background: rebeccapurple;
}                                          

.paragraph-1 {
    background: red;
    font-size: 20px;
    color: whitesmoke;
}

.paragraph-2 {
    border: 10px solid gray;
    border-radius:10px ;
    font-size: 26px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.paragraph-3 {
    font-weight: bold;
    font-size:  22px;
    font-family: 'Courier New', 'Courier';
}